body {
  min-height: 100vh;
}

.card {
  border-radius: 20px;
}

.fs-7 {
  font-size: 7vw;
}

.grow {
  flex: 1;
}

.backwards {
  transform: scale(-1, -1);
}

.box-shadow {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.suit {
  line-height: 75%;
}

.aspect-ratio {
  width: calc(2.2 * var(--height)) !important;
}
